


/* ****** Para la seleccion en tablas ******* */
.selectRow {
  background-color: #ECEDEC;
}

.permitSelectRow {
  cursor: pointer;
}

#divFormulario input,textarea {
  width: 90%;
}

#divFormulario select2 {
  width: 130px !important;
}
